html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(bookshelf-base.png);
    background-size: cover;
    background-position: center;
}

:root {
  --global-font: 'Indie Flower', cursive;
}

/* Force font on ALL elements including buttons, inputs, etc. */
* {
    font-family: var(--global-font) !important;
}

#login-button {
    background-color: #b89e8c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    animation: pulse 1s infinite;
    position: absolute;
    left: 23.3%;
    top: 41.2%;
    box-shadow: 0 0 5px 0 rgb(255, 217, 0);
    height: 55px;
    width: 14%;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 0 rgb(255, 217, 0);
    }
    50% {
        box-shadow: 0 0 15px 0 rgba(255, 217, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 10px 0 rgba(255, 217, 0, 0.0);
    }
}

#login-button:hover {
    animation: none;
}



h2 {
    position: absolute;
    left: 40%;
    bottom: 30%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 25px;
}

p {
    position: absolute;
    left: 40%;
    text-align: center;
    transform: translateX(-50%);
}

#one {
    bottom: 26%;
}

#two {
    bottom: 24%;
}